.cross3x3-dummy-btn{
    background-color: azure;
}

#remote-video {
    position: fixed;
    z-index: -100;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-size: cover;
}

@media screen and (orientation: landscape) {
    #remote-video {
        min-height: 100%;
    }
}

@media screen and (orientation: portrait) {
    #remote-video {
        min-width: 100%;
    }
}

#f-btn-wrapper{
    width: 100%;
    position: fixed;
    top: 30px;
    left: 0px;
    overflow-x: scroll;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#go-btns{
    position: fixed;
    bottom: 50px;
    right: 20px;
}
#rotate-btns{
    position: fixed;
    bottom: 50px;
    left: 20px;
}

/* グリッド */
.cross3x3 {
    display: grid;
    width: 150px;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cross3x3-top-left{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.cross3x3-top {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.cross3x3-top-right {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.cross3x3-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.cross3x3-dummy-btn {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.cross3x3-right {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.cross3x3-bottom-left {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.cross3x3-bottom {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.cross3x3-bottom-right {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

/* 移動キー */
#go-btns > .cross3x3-top-left{
    border-top-left-radius: 100%;
}
#go-btns > .cross3x3-top-right{
    border-top-right-radius: 100%;
}
#go-btns > .cross3x3-bottom-left{
    border-bottom-left-radius: 100%;
}
#go-btns > .cross3x3-bottom-right{
    border-bottom-right-radius: 100%;
}

/* 回転キー */
#rotate-btns > .cross3x3-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#rotate-btns > .cross3x3-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#rotate-btns > .cross3x3-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#rotate-btns > .cross3x3-bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-shadow{
    filter: drop-shadow(0px 2px 0px grey);
}
.btn-shadow:active{
    transform: translateX(0px) translateY(2px);
    filter: drop-shadow(0px 0px 0px grey);
}

.f-btn{
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}
.div2btn{
    display: inline-block;
    background-color: azure;
    user-select: none; /* CSS3 */
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cross-btn{
    height: 50px;
    width: 50;
    text-align: center;
    line-height: 50px;
}